

{% extends "HomePage/baseTemplate.html" %}

{% block content %}





<div class="col-md-10 text-right menu-1">
   <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu" >
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</div> 
 <!--
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{username}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="HomePage/dashboard">Dashboard</a></li>
      <li><a href="HomePage/about">Log Out</a></li>
     
    </ul>
  </div>-->
<!--
							<ul>
								<li class="active"><a href="{% url 'aboutPage'%}">{{username}}</a></li>

							</ul>
</div>-->
                           


{% endblock %}

