

{% extends "HomePage/baseTemplate.html" %}

{% block content %}


  <div class = “container”>
            <div class=“dropdown”>
                 <button class=“btn dropdown-toggle” type=“button” data-toggle=“dropdown”>{username}
                 <span class=“caret”></span></button>
                 <ul class=“dropdown-menu”>
                   <li><a href=“#”>Dashboard</a></li>
                   <li><a href=“#”>Sign Out</a></li>
                 </ul>
            </div>
        </div>


<!--

<div class="col-md-10 text-right menu-1">
   <li class="has-dropdown">
                  <a href="work.html">Works</a>
                  <ul class="dropdown">
                    <li><a href="work-grid.html">Log Out</a></li>
                    <li><a href="work-grid-without-text.html">Dashboard</a></li>
                    <li><a href="work-grid.html">Home</a></li>
                    <li><a href="work-grid-without-text.html">Category Selection</a></li>
</div> -->
 
                           


{% endblock %}

