

{% extends "HomePage/baseTemplate.html" %}

{% block beneathHACK8 %}
  

 <div class="animate-box">
                <h2 class="text-center">Select a category to specify amount spent</h2>
               
                
  </div>



 <div class="text-center">
    
     <div class="radio">
      <label><input type="checkbox" name="optradio" checked>Food</label>
     </div>
     <div class="radio">
      <label><input type="checkbox" name="optradio">Gas</label>
     </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Clothes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Utilities</label>
    </div>
   </div>






{% endblock %}

